{
  "ecmaFeatures": {
    "es6": true,
    "modules": true
  },
  "env": {
    "es6": true,
    "mocha": true,
    "node": true
  },
  "extends": [
    "guyellis",
    "guyellis/es6"
  ],
  "parser": "babel-eslint",
  "rules": {
  }
}
